@media (min-width: 768px) {
	.nav {
		&__mobile {
			display: none;
		}

		&__desktop {
			display: flex;
			justify-content: flex-end;
			position: absolute;
			top: 0;
			left: 0;
			padding: 1.5rem;
			background: none;
			text-align: center;

			.menu {
				display: flex;
			}
			

			button {
				margin-top: 1rem;
				padding: 0.5rem 1.5rem;
				font-family: 'Overpass', sans-serif;
				font-size: 1.125rem;
			}
		}

		.menu-item {
			padding: 1.5rem 0;
			width: 130px;
			color: $white;

			.dropdown {
				padding: 0.5rem 0;
		
				li {
					color: $verydarkgrayishblue;
				}
		
				li:hover {
					color: $verydarkblue;
				}
			}
		}	
		
		&__login-btn {
			&--first{
				color: $white;
			}
			&--second {
				background: $white;
				color: $lightred;
			}
	
			&--second:hover {
				background: $verylightred;
				color: $white;
			}
		}
	}

	.header {
		.burger-icon {
			display: none;
		}
	}
}
